.confirmation-text {
  text-align: center;
}

.confirmation-form {
  width: 50%;
  margin: auto;
}

.confirmation-btn {
  border-radius: 0%;
}

.reset-btn {
  margin-left: 10px;
  border-radius: 0%;
}
.required-text {
  color: red;
}
